# Python
__pycache__/
*.pyc
venv/
.env

# PHP / Moodle
vendor/

# Docker
*.log

# Éditeurs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# ChromaDB
ai-service/chroma_db/

# Repo officiel Edora
edoralms-moodle-block_ai_tutor_03/chat_level_detection.js 
config.php 
debug 
debugdisplay 
